.page {
  margin: 20px;
}

.interactions {
  text-align: center;
}
.button-inline {
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
}

thead{
  border-top: 2px solid rgb(216, 216, 216);
}
.searchBox{
  border-radius: 20px;
  margin: 0;
}
.searchBtn{
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
